.projects_section {
  height: auto;
  margin: auto;
  width: 93vw;
  box-sizing: border-box;
}

.projects_container {
  width: 100%;
  margin-top: 56px;
  text-align: left;
  padding: 20px;
  color: var(--sky-blue);
  background: black;
  border-radius: 10px;
  box-shadow: #b0eb0e 0px 5px 15px;
  /* border: 1px solid green; */
}

.singleProject {
  display: flex;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #131313;
  color: #b0eb0e;
  /* border: 1px solid red; */
}

.projectDetails {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  color: #b0eb0e;
}

.projectDetails h4 {
  font-size: 40px;
  margin-top: 10px;
  /* box-shadow: #b0eb0e 0px 5px 15px; */
}

.projectDetails p {
  font-size: 25px;
  /* box-shadow: #b0eb0e 0px 5px 15px; */
}

.projectImage {
  width: 50%;
  border-radius: 20px;
  padding: 10px;
}

.projectLinks {
  display: flex;
  gap: 10px;
  /* border: 1px solid red; */
}

.projectLinks a {
  padding: 15px;
  border-radius: 10px;
  background-color: black;
  box-shadow: #b0eb0e 0px 5px 15px;
}

/* medium screen */

@media screen and (min-width: 480px) and (max-width: 780px) {
  .singleProject {
    flex-direction: column;
  }
  .projectDetails h4 {
    font-size: 25px;
    margin-top: 5px;
  }

  .projectDetails p {
    font-size: 15px;
  }

  .projectDetails {
    width: 100%;
  }

  .projectImage {
    width: 100%;
  }

  .projectLinks {
    justify-content: space-between;
  }
}

/* medium screen */

@media screen and (min-width: 200px) and (max-width: 480px) {
  .singleProject {
    flex-direction: column;
  }
  .projectDetails h4 {
    font-size: 20px;
    margin-top: 5px;
  }

  .projectDetails p {
    font-size: 10px;
  }

  .projectDetails {
    width: 100%;
  }

  .projectImage {
    width: 100%;
  }

  .projectLinks {
    justify-content: space-between;
  }

  .projectLinks a {
    padding: 5px;
    font-size: 10px;
    padding-inline: 10px;
  }
}
