.projects_section {
  height: auto;
  margin: auto;
  width: 93vw;
  box-sizing: border-box;
}

.projects_container {
  width: 100%;
  margin-top: 56px;
  text-align: left;
  padding: 20px;
  color: var(--sky-blue);
  background: black;
  border-radius: 10px;
  box-shadow: #b0eb0e 0px 5px 15px;
  /* border: 1px solid green; */
}

.singleProject {
  display: flex;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #131313;
  color: #b0eb0e;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  color: #b0eb0e;
}

.projectImage {
  width: 50%;
  padding: 10px;
}

.projectLinks {
  display: flex;
  gap: 10px;
}

.projectLinks a {
  padding: 5px;
  border-radius: 10px;
  background-color: black;
}
