.stats_section {
  height: auto;
  width: 93vw;
  margin: auto;
  margin-bottom: 20px;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.stats_container {
  margin-top: 56px;
  height: 90%;
  margin-bottom: 20px;
  border-radius: 10px;
  /* border: 1px solid red; */
  background: black;
  padding: 20px;
  text-align: left;
  box-shadow: #b0eb0e 0px 5px 15px;
}

.stats_container > h1 {
  text-align: left;
  font-size: 30px;
}

.statesImages {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

#github-streak-stats {
  margin: auto;
}

#github-stats-card {
  margin: auto;
}

#github-top-langs {
  margin: auto;
}

/* medium screen */
@media screen and (min-width: 200px) and (max-width: 767px) {
  .statesImages {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }
}
